# Archivos y carpetas generadas por el sistema operativo
.DS_Store
Thumbs.db

# Carpeta node_modules
node_modules/

# Archivo de registro de errores
error.log

# Archivos de configuración local
.env

# Archivos generados al ejecutar el proyecto
dist/

# Archivos de respaldo de editores de texto
*.bak
*.swp
*.swo

# Archivos de compilación de TypeScript
*.js
*.js.map

# Archivos de respaldo
*.backup
*.backup.*

# Carpeta de archivos estáticos subidos por los usuarios
public/uploads/
