@import url("./assets/fonts/fonts.css");

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
body {
    display: flex;

    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-color: #ddddddb9;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    padding: 0;
    margin: 0;
}

/*NABVAR*/

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background-color: white;
}

.image-logo {
    height: auto;
    width: 4rem;
}

.title-nabvar {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 2rem;
}

/*HEADER*/

.image-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.image-header img {
    height: 100vh;
    width: 100vw;
    opacity: 30%;
    object-fit: cover;
}

.text-image-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10rem;
}

.span-title-header {
    color: white;
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.479);
    text-align: center;
}

.h1-title-header {
    color: white;
    font-weight: 300;
    font-size: 3rem;
    text-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0);
    text-transform: uppercase;
    margin-top: -1.5rem;
}

.button-header {
    background-color: #677ee1;
    border: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    height: 5rem;
    width: 20rem;
    margin-left: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.329);
}

.button-header:hover {
    cursor: pointer;
    transition: 200ms;
    background-color: #4455a1;
}

.button-header:active {
    background-color: #2f3c75;
}

/*CREATE APPOINTMENT FORM*/
.global-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.form-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: auto;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.margin-container-form-contact {
    height: 80%;
    width: 90%;
    padding: 3rem 0;
}

.h2-page-title {
    text-transform: uppercase;
    font-size: 3rem;
    color: #505052;
}

.containe-check-appointment {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
    font-weight: 700;
    color: #505052;
    margin: 0.5rem 0;
}

input,
button {
    border: none;
    border-radius: 4px;
}

input[type="text"] {
    background-color: #eeeeee;
    outline: none;
    height: 4rem;
    width: 25rem;
    text-indent: 1rem;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

input[type="submit"],
button {
    background-color: #677ee1;
    color: white;
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.input-submit:hover,
button:hover {
    transition: 200ms;
    background-color: #536cd8;
    cursor: pointer;
}
.input-submit:active,
button:hover {
    transition: 200ms;
    background-color: #3246a0;
    cursor: pointer;
}

.buttons-exit-eliminate {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.eliminate-appointment-button {
    background-color: #ca0a0a;
}

.eliminate-appointment-button:hover {
    transition: 200ms;
    background-color: rgb(150, 19, 19);
}

.eliminate-appointment-button:active {
    background-color: rgb(124, 19, 19);
}

.container-alert {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.alert-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-radius: 4px;
    background-color: rgb(255, 119, 119);
}

.alert-div span {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.678);
}

.container-data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    border-radius: 5px;
}

.margin-container-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 80%;
}

.margin-container-data span {
    font-size: 1.5rem;
}

b {
    color: #505052;
}

/*CREATE APPOINTMENTS*/
.buttons-create-appointment {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.button-create-appointment {
    width: 17rem;
    margin: 0.3rem;
    background-color: #dddddd;
    color: #505052;
    font-weight: 400;
}

.button-create-appointment:hover {
    transition: 200ms;
    background-color: #c4c4c4;
}

.button-create-appointment:active {
    background-color: #c4c4c4;
}

.data-user-appointment {
    display: flex;
    flex-wrap: wrap;
}

.label-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.h3-create-appointment {
    font-size: 1.8rem;
    color: #505052;
}

.label-create-appointment {
    margin-bottom: 0;
}

.input-create-appointment {
    letter-spacing: 0;
}

input[type="number"] {
    max-width: 6rem;
    background-color: #eeeeee;
    outline: none;
    height: 4rem;
    width: 25rem;
    text-indent: 1rem;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.textarea-create-appointment {
    background-color: #eeeeee;
    border: none;
    min-width: 100%;
    min-height: 10rem;
    outline: none;
    text-indent: 1rem;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    color: black;
    padding-top: 1rem;
    resize: none;
}

.label-textarea-container {
    width: 100%;
    margin-bottom: 2rem;
}
