@import url("./assets/fonts/fonts.css");

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
body {
    display: flex;

    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    padding: 0;
    margin: 0;
}

/*Common Styles*/

.text-light {
    font-size: 1.5rem;
    font-weight: 400;
}

.text-underline {
    text-decoration: underline;
}
.no-underline {
    text-decoration: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: white;
    font-weight: 600;
}

.button-proceed {
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: #6461da;
    width: 15rem;
    height: 4rem;
    border: none;
    border-radius: 0.5rem;
    margin-right: 2rem;
}

.button-proceed-disable {
    font-size: 1.4rem;
    font-weight: 600;
    cursor: not-allowed;
    color: white;
    background-color: #dbd4ff;
    width: 15rem;
    height: 4rem;
    border: none;
    border-radius: 0.5rem;
    margin-right: 2rem;
}

.button-back-cancel {
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: #ff5757;
    width: 15rem;
    height: 4rem;
    border: none;
    border-radius: 0.5rem;
}

.action-button {
    background-color: #5956c2;
    width: 15rem;
    height: 4rem;
}

.action-button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #716ec2;
    transition: 200ms;
}

.action-button:active {
    background-color: #4a46c2;
}

.cancel-button {
    background-color: #ff5757;
    min-height: 4rem;
    width: 15rem;
    user-select: none;
}

.cancel-button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #ff7c7c;
    transition: 200ms;
}

.cancel-button:active {
    background-color: #d32020;
}

.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5956c2;
    color: white;
    width: 20rem;
    height: 4.7rem;
    border: none;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 1.8rem;
    user-select: none;
    margin-right: 2rem;
}

.home-button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #716ec2;
    transition: 200ms;
}

.home-button:active {
    background-color: #4a46c2;
}

.title-page {
    font-size: 3.8rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.label-form {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.input-text-form-style,
select {
    background-color: #f4f1ff;
    border: none;
    height: 3.5rem;
    width: 30rem;
    margin-right: 1rem;
    outline-color: #5a56c22f;
    text-indent: 1rem;
    border-radius: 0.4rem;
    font-size: 1.6rem;
}

textarea {
    width: 48rem;
    resize: none;
    height: 10rem;
    border: none;
    outline-color: #5a56c22f;
    background-color: #f4f1ff;
    border-radius: 0.4rem;
    font-family: "Poppins";
    padding: 1rem;
}

.input-number-form-style,
.way-to-pay {
    width: 20rem;
}

.create-appointment-buttons-height {
    height: 4rem;
}

.image-flipped-horizontally {
    transform: scaleX(-1); /* Voltea horizontalmente */
}

/*----------------*/
/*------ HOME PAGE*/
.home-container {
    margin: 0 10rem;
}

.navbar-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}
.nabvar-container {
    margin: 0 10rem;
}

.image-logo {
    width: 4.5rem;
    height: 4.5rem;
}

.logo-title {
    display: flex;
    align-items: center;
    user-select: none;
}
.logo-title span {
    font-size: 2rem;
    color: #5956c2;
    font-weight: 600;
    margin-left: 1rem;
}

.options-navbar span {
    margin-right: 5rem;
    user-select: none;
}

.options-navbar span:hover {
    cursor: pointer;
}

.options-navbar :last-child {
    margin-right: 0;
}

.header-section-home {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.header-section-home img {
    width: 50%;
}

.h1-header-home {
    font-size: 6rem;
    line-height: 7rem;
    width: 90%;
}

.purple-text {
    color: #5956c2;
}

.image-buttons {
    max-width: 2rem;
    height: auto;
    padding: 1rem;
}

.header-home-buttons {
    display: flex;
    width: 77%;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.image-header {
    max-width: 46rem;
    height: auto;
}

/*-----CHECK APPOINTMENT PAGE*/

.container-data-appointment {
    width: 100%;
    display: flex;
    justify-content: center;
}

.global-container-check-appointment {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.check-appointment-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.check-appointment-form {
    display: flex;
}

.button-leave-check-appointment {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/*--------------------*/
/*---------PATIENT DATA COMPONENT*/
.container-data-patient {
    background-color: #f4f1ff;
    padding: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    min-width: 70rem;
    border-radius: 0.4rem;
    width: 20rem;
}

/*---------------------*/
/*----------- CREATE APPOINTMENT*/
.content-container {
    margin: 5rem 20rem;
    display: flex;
    flex-direction: column;
}



.buttons-date-hour-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.buttons-date-hour-containerL:last-child {
    margin-bottom: 0;
}

.button-select-day-hour {
    background-color: #dbd4ff;
    height: 5.5rem;
    width: 20rem;
    color: #6151c2;
    border: none;
    margin: 0.5rem 0.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
}

.button-select-day-hour-press {
    background-color: #6151c2;
    color: white;
}

.button-select-day-hour-press:hover {
    background-color: #6151c2;
    color: white;
}

.button-select-day-hour:hover {
    color: white;
}

.container-buttons-create-appointment {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.form-create-appointment {
    display: flex;
    flex-wrap: wrap;
}

.line-horizontal {
    background-color: #cbcbcbc2;
    width: 100%;
    height: 0.2rem;
    margin-top: 2rem;
}

.resume-container {
    margin: 5rem 20%;
}

.buttons-resume-appointment-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    justify-content: space-between;
    margin-top: 2rem;
}

.container-buttons-created-appointment {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button-navigation-container button {
    margin: 0 1rem;
}

.button-container-process-cancel {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-buttons-process-cancel {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.appointment-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-container-created {
    margin-top: 5rem;
    padding: 0 20rem;
}

/*LOGIN*/

.login-global-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-login-container {
    width: 24%;
}

.width-button-login {
    width: 101%;
    margin-top: 3rem;
}

.forget-your-password {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.width-100 {
    width: 100%;
}

@media (max-width: 768px) {
    .home-container {
        width: 100%;
        margin: 0;
    }

    .logo-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-title span {
        text-align: center;
    }

    .options-navbar span {
        display: none;
    }

    .header-section-home {
        display: flex;
        flex-direction: column;
    }

    .header-section-home img {
        width: 100%;
    }

    .h1-header-home {
        margin: 2rem 0 0 0;
        font-size: 4rem;
        line-height: 7rem;
        width: 75%;
        margin-left: 5rem;
        font-size: 3rem;
        text-align: center;
        line-height: 3.5rem;
    }

    .h1-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin-bottom: -5rem;
    }

    .header-home-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .home-button {
        margin-bottom: 1rem;
    }

    .image-header {
        max-width: 70%;
    }

    .nabvar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .home-button {
        margin: 0.4rem 0;
    }

    .check-appointment-container {
        flex-direction: column;
        width: 80%;
    }

    .check-appointment-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .action-button {
        margin-top: 2rem;
    }

    .button-leave-check-appointment {
        margin-top: 1rem;
    }

    .container-data-patient {
        max-width: 2rem;
        min-width: 30rem;
    }

    /*CHECK APPOINTMENT PAGE*/

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 2rem;
    }

    .action-button {
        margin: 0.5rem 0.5rem;
    }

    .buttons-date-hour-container {
        display: flex;
        justify-content: center;
    }

    .button-select-day-hour {
        width: 47%;
    }

    textarea {
        width: 120%;
    }
    .resume-container {
        margin: 5rem 1.5rem;
    }
}
